img {
    right:0;
    position:absolute;
    }

.paragraphs{
        margin-top: 8%;
        width:60%;
    }

.para{
        margin-top: 20px;
        font-size:17px;
        font-family: sans-serif;
    }
    