img {
    left:0;
    width:80%;
    height:60vh;
    margin-left:150px;
    }

.first{
    top:100vh;
    }  
    
.sub{
    font-size:20px;
} 

.lines{
    display:inline-block;
    color:#2964aa;
    }

ul {
        line-height: 0.1em; 
        font-size: 17px;
    }

.linker{
    color:#2964aa;
    display:inline-block;
} 

.next{
    display:inline-block;
}
    